In [2]:
# Importar librerías necesarias
import pandas as pd
import numpy as np

# Leer el archivo Excel
df = pd.read_excel("dataset/Cryotherapy.xlsx") 

# Ver las primeras filas
df.head()

   sex  age   Time  Number_of_Warts  Type  Area  Result_of_Treatment
0    1   35  12.00                5     1   100                    0
1    1   29   7.00                5     1    96                    1
2    1   50   8.00                1     3   132                    0
3    1   32  11.75                7     3   750                    0
4    1   67   9.25                1     1    42                    0

## Ver información general del dataset

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90 entries, 0 to 89
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   sex                  90 non-null     int64
 1   age                  90 non-null     int64
 2   Time                 90 non-null     float64
 3   Number_of_Warts      90 non-null     int64
 4   Type                 90 non-null     int64
 5   Area                 90 non-null     int64
 6   Result_of_Treatment  90 non-null     int64
dtypes: float64(1), int64(6)
memory usage: 5.1 KB

## Resumen estadistico basico

In [4]:
df.describe(include='all')

,sex,age,Time,Number_of_Warts,Type,Area,Result_of_Treatment
count,90.000000,90.000000,90.000000,90.000000,90.000000,90.000000,90.000000
mean,1.477778,28.600000,7.666667,5.511111,1.700000,85.833333,0.533333
std,0.502304,13.360852,3.406661,3.567155,0.905042,131.733153,0.501683
min,1.000000,15.000000,0.250000,1.000000,1.000000,4.000000,0.000000
25%,1.000000,18.000000,4.562500,2.000000,1.000000,20.000000,0.000000
50%,1.000000,25.500000,8.500000,5.000000,1.000000,70.000000,1.000000
75%,2.000000,35.000000,10.687500,8.000000,3.000000,100.000000,1.000000
max,2.000000,67.000000,12.000000,12.000000,3.000000,750.000000,1.000000

In [5]:
# Contar valores nulos en cada columna
df.isnull().sum()

sex                    0
age                    0
Time                   0
Number_of_Warts        0
Type                   0
Area                   0
Result_of_Treatment    0
dtype: int64

In [6]:
# Verificar valores únicos en cada columna (útil para categóricas)
for col in df.columns:
    print(f"{col}: {df[col].unique()}")

sex: [1 2]
age: [35 29 50 32 67 41 36 59 20 34 21 15 17 23 27 18 22 16 28 40 30 24 19 63]
Time: [12.    7.    8.   11.75  9.25 11.    3.5   4.5  11.25 10.75  6.    2.
  3.75  5.25  8.75  4.25  5.75  5.5   8.5   4.75  9.75  2.5   0.5   9.5
  7.25 10.5   2.75  5.    1.5  11.5  10.    4.   10.25  7.75  0.25  8.25]
Number_of_Warts: [ 5  1  7  2  3 12  6  9 11  4  8 10]
Type: [1 3 2]
Area: [100  96 132 750  42  20   8   6 150  35  30   4  70  10  63  72  80  60
 115  95  75 160]
Result_of_Treatment: [0 1]

# Limpieza de datos

Aca lo que vamos a hacer es el contrario de data mining, que en este caso ya tenemos las variables codificadas pero para el entendimiento de los datos pues no sabemos a que se refiere con que es 1 y que es 2 en sexo asi que las cambiaremos

In [7]:
df['sex'] = df['sex'].map({1: 'masculino', 2: 'femenino'})

Ahora el response to treatment tambien lo limpiaremos..

In [8]:
df['Result_of_Treatment'] = df['Result_of_Treatment'].map({1: 'exito', 0: 'fracaso'})

Tambien el tipo de verrugas las vamos a a decodificar

In [9]:
df['Type'] = df['Type'].map({1: 'Comun', 2: 'Planta del pie', 3: 'Ambas'})